$black-color: #000;
$white-color: #fff;
$bg-home: #f7f8fa;
$green-color: #1ac073;
$turquoise-color: #f0faf7;
$yellow-color: #f3ba00;
$gray-color: #929292;
$red-color: #f20505;
$heading-color: #101115;
$text-color: #1b1c21;
$text-cart: #22262a;
$quantity-cart: #f6f7f8;
